---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - wishlist.k8s.lex.la
  resources:
  - wishes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - wishlist.k8s.lex.la
  resources:
  - wishes/finalizers
  verbs:
  - update
- apiGroups:
  - wishlist.k8s.lex.la
  resources:
  - wishes/status
  verbs:
  - get
  - patch
  - update
