// SPDX-License-Identifier: BSD-3-Clause
// Copyright (c) 2025 Aleksei Sviridkin

package templates

import (
	wishlistv1alpha1 "github.com/lexfrei/wish-operator/api/v1alpha1"
)

templ WishList(wishes []wishlistv1alpha1.Wish) {
	if len(wishes) == 0 {
		<div class="empty">
			<p>No wishes yet.</p>
		</div>
	} else {
		for _, wish := range wishes {
			@WishCard(&wish)
		}
	}
}
